<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ifarm.console.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.ifarm.console.shared.domain.po.ResourcePO">
        <result column="id" property="tid"/>
        <result column="resource_code" property="resourceCode"/>
        <result column="resource_name" property="resourceName"/>
        <result column="entry_url" property="entryUrl"/>
        <result column="parent_code" property="parentCode"/>
        <result column="resource_level" property="resourceLevel"/>
        <result column="resource_type" property="resourceType"/>
        <result column="display_order" property="displayOrder"/>
        <result column="node_icon" property="nodeIcon"/>
        <result column="notes" property="notes"/>
        <result column="leaf_flag" property="leafFlag"/>
        <result column="active" property="active"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <resultMap id="MenuResultMap" type="com.ifarm.console.shared.domain.po.ResourcePO">
        <result column="id" property="tid"/>
        <result column="resource_code" property="resourceCode"/>
        <result column="resource_name" property="resourceName"/>
        <result column="entry_url" property="entryUrl"/>
        <result column="parent_code" property="parentCode"/>
        <result column="resource_level" property="resourceLevel"/>
        <result column="resource_type" property="resourceType"/>
        <result column="display_order" property="displayOrder"/>
        <result column="node_icon" property="nodeIcon"/>
        <result column="notes" property="notes"/>
        <result column="leaf_flag" property="leafFlag"/>
        <collection column="resource_code" property="childrenNode" ofType="com.ifarm.console.shared.domain.po.ResourcePO">
            <result column="ch_id" property="tid"/>
            <result column="ch_resource_code" property="resourceCode"/>
            <result column="ch_resource_name" property="resourceName"/>
            <result column="ch_entry_url" property="entryUrl"/>
            <result column="ch_parent_code" property="parentCode"/>
            <result column="ch_resource_level" property="resourceLevel"/>
            <result column="ch_resource_type" property="resourceType"/>
            <result column="ch_display_order" property="displayOrder"/>
            <result column="ch_node_icon" property="nodeIcon"/>
            <result column="ch_notes" property="notes"/>
            <result column="ch_leaf_flag" property="leafFlag"/>
            <collection column="resource_code" property="childrenNode" ofType="com.ifarm.console.shared.domain.po.ResourcePO">
                <result column="gch_id" property="tid"/>
                <result column="gch_resource_code" property="resourceCode"/>
                <result column="gch_resource_name" property="resourceName"/>
                <result column="gch_entry_url" property="entryUrl"/>
                <result column="gch_parent_code" property="parentCode"/>
                <result column="gch_resource_level" property="resourceLevel"/>
                <result column="gch_resource_type" property="resourceType"/>
                <result column="gch_display_order" property="displayOrder"/>
                <result column="gch_node_icon" property="nodeIcon"/>
                <result column="gch_notes" property="notes"/>
                <result column="gch_leaf_flag" property="leafFlag"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="column_sql">
        rs.id,rs.resource_code,rs.resource_name,rs.entry_url,rs.parent_code,rs.resource_level,rs.resource_type,rs.display_order,rs.node_icon,rs.notes,rs.leaf_flag,rs.active,rs.create_time,rs.modify_time
    </sql>

    <sql id="param_sql">
        <if test="tid != null">
            and rs.id = #{tid}
        </if>
        <if test="resourceCode">
            and rs.resource_code = #{resourceCode}
        </if>
        <if test="resourceName != null and resourceName != ''">
            and rs.resource_name like concat('%',concat(#{resourceName},'%'))
        </if>
        <if test="entryUrl != null and entryUrl != ''">
            and rs.entry_url like concat('%',concat(#{entryUrl},'%'))
        </if>
        <if test="parentCode != null and parentCode != ''">
            and rs.parent_code = #{parentCode}
        </if>
        <if test="resourceLevel != null">
            and rs.resource_level = #{resourceLevel}
        </if>
        <if test="resourceType != null">
            and rs.resource_type = #{resourceType}
        </if>
        <if test="displayOrder != null">
            and rs.display_order = #{displayOrder}
        </if>
        <if test="nodeIcon != null and nodeIcon != ''">
            and rs.node_icon like concat('%',concat(#{nodeIcon},'%'))
        </if>
        <if test="leafFlag != null and leafFlag != ''">
            and rs.leaf_flag = #{leafFlag},        </if>
        <if test="active != null and active != ''">
            and rs.active = #{active}
        </if>
    </sql>


    <select id="findMenuResources" parameterType="java.lang.String" resultMap="MenuResultMap">
        select <include refid="column_sql"/>
        ,ch.id as ch_id,
        ch.resource_code as ch_resource_code,
        ch.resource_name as ch_resource_name,
        ch.entry_url as ch_entry_url,
        ch.parent_code as ch_parent_code,
        ch.resource_level as ch_resource_level,
        ch.resource_type as ch_resource_type,
        ch.display_order as ch_display_order,
        ch.node_icon as ch_node_icon,
        ch.notes as ch_notes,
        ch.leaf_flag as ch_leaf_flag,
        gch.id as gch_id,
        gch.resource_code as gch_resource_code,
        gch.resource_name as gch_resource_name,
        gch.entry_url as gch_entry_url,
        gch.parent_code as gch_parent_code,
        gch.resource_level as gch_resource_level,
        gch.resource_type as gch_resource_type,
        gch.display_order as gch_display_order,
        gch.node_icon as gch_node_icon,
        gch.notes as gch_notes,
        gch.leaf_flag as gch_leaf_flag
        from t_console_user u
        left join t_console_user_role ur on u.id = ur.user_id
        left join t_console_role r on r.id = ur.role_id
        left join t_console_role_permission rp on r.id = rp.role_id
        left join t_console_permission p on p.id = rp.permission_id
        left join t_console_resource rs on rs.id = p.resource_id
        left join t_console_resource ch on rs.resource_code = ch.parent_code
        left join t_console_resource gch on ch.resource_code = gch.parent_code
        where u.user_name = #{userName}
        and rs.active = 'Y'
        and rs.resource_code = 'console_1'
    </select>

    <select id="totalCount" parameterType="com.ifarm.console.shared.domain.po.ResourcePO" resultMap="BaseResultMap">
        select count(*)
        from t_console_resource rs
        <where>
            <include refid="param_sql"/>
        </where>
    </select>

    <select id="findByParam" parameterType="com.ifarm.console.shared.domain.po.ResourcePO" resultMap="BaseResultMap">
        select <include refid="column_sql"/>
        from t_console_resource rs
        <where>
            <include refid="param_sql"/>
        </where>
    </select>

    <select id="findByResCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="column_sql"/>
        from t_console_resource rs
        where rs.resource_code = #{resourceCode}
    </select>

    <update id="update" parameterType="com.ifarm.console.shared.domain.po.ResourcePO">
        update t_console_resource
        <set>
            <if test="resourceName != null and resourceName != ''">
                resource_name = #{resourceName},
            </if>
            <if test="entryUrl != null and entryUrl != ''">
                entry_url = #{entryUrl},
            </if>
            <if test="parentCode != null and parentCode != ''">
                parent_code = #{parentCode},
            </if>
            <if test="resourceLevel != null">
                resource_level = #{resourceLevel},
            </if>
            <if test="resourceType != null">
                resource_type = #{resourceType},
            </if>
            <if test="displayOrder != null">
                display_order = #{displayOrder},
            </if>
            <if test="nodeIcon != null and nodeIcon != ''">
                node_icon = #{nodeIcon},
            </if>
            <if test="notes != null and notes != ''">
                notes = #{notes},
            </if>
            <if test="leafFlag != null and leafFlag != ''">
                leaf_flag = #{leafFlag},
            </if>
            <if test="active != null and active != ''">
                active = #{active},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime}
            </if>
        </set>
        <where>
            <if test="tid != null">
                and id = #{tid}
            </if>
            <if test="resourceCode">
                and resource_code = #{resourceCode}
            </if>
        </where>
    </update>

    <insert id="insert" parameterType="com.ifarm.console.shared.domain.po.ResourcePO">
        insert into t_console_resource(resource_code,resource_name,entry_url,parent_code,resource_level,resource_type,display_order,node_icon,notes,leaf_flag,active,create_time,modify_time)
        values(#{resource_code},#{resource_name},#{entry_url},#{parent_code},#{resource_level},#{resource_type},#{display_order},#{node_icon},#{notes},#{leaf_flag},#{active},#{create_time},#{modify_time})
    </insert>
</mapper>